@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

html {
    max-width: 100%;
    overflow: hidden;
}

body {
  font-family: "Creepster", cursive;
  background-image: url("/images/Lost.jpg");
  font-size: 150%;
  max-width: 100%;
  color: rgb(51, 18, 116);
  

}

h1 {
  font-size: 250%;
  text-align: center;
  
}

.card {
    border-color: transparent;
}

.card-text {
  font-size: 250%;
}

.card-img-top {
    height: auto;
    width: 100px;
   
}

.button {
  border-radius: 90%;
  font-size: 50px;
  background-color: white;
  text-align: center;
  margin-left: 45%;
}

.level {
    text-align: right;
    margin: 30px;
  }


#level {
  height: 30px;
  width: 50px;
  margin: 20px;
  }


#right {
    margin-left: 25%;
}

#leftArrow {
    margin-left:20%;
}

#upArrow {
    margin-left: 45%;
