@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

html {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "Creepster", cursive;
  background-image: url("/images/Lost.jpg");
  max-width: 100%;
  color: whitesmoke;
}

a {
  color: #17a2b8;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #148192;
}
.gameSize {
  margin: 0 20%;
}

h1 {
  font-size: 500%;
  text-align: center;
  color: rgb(73, 3, 185);
}

.title {
    margin-top: 15%;
    font-size: 600%;
}

span {
  font-size: 1.5em;
}

/*button stylings*/

.button {
  font-size: 50px;
  text-align: center;
  border: none;
  text-decoration: none;
}

.beginButton {
  margin-top: 20%;
  margin-left: 45%;
  font-size: 200%;
  border: none;
  text-decoration: none;
}

.startButton {
  margin-left: 45%;
  font-size: 100%;
  border: none;
  text-decoration: none;
}

/*modal*/

.storyModal {
  border: none;
  background-image: url("/images/Lost.jpg");
}

.modal-content {
  background-color: black;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
.close {
  color: rgb(100, 137, 167);
  border: none;
  text-shadow: none;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
/*game container*/
.container {
  padding-left: 5%;
  padding-right: 5%;
}

/*arrows*/

#up {
  text-align: center;
}
#left {
  text-align: center;
}
#right {
  text-align: center;
}

/*footer linke*/

.help a {
  margin-left: 300px;
  font-size: 1.5em;
}

.highScoreLink a {
  margin-right: 300px;
  font-size: 1.5em;
}

/* help page*/
.helpText {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
