@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

html {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "Creepster", cursive;
  background-image: url("/assets/images/Lost.jpg");
  max-width: 100%;
  color: whitesmoke;
}

a {
  color: #17a2b8;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #148192;
}
.gameSize {
  margin: 0 10%;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(73, 3, 185);
}

.title {
  margin-top: 15%;
  font-size: 400%;
}

span {
  font-size: 1em;
}

/*button stylings*/

.startGameButton {
  font-size: 20px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.beginButton {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 200%;
  border: none;
  text-decoration: none;
}

.startButtonModal {
  margin-left: 45%;
  font-size: 10%;
  border: none;
  text-decoration: none;
}

/*modal*/

.storyModal {
  border: none;
  background-image: url("../images/Lost.jpg");
}

.modal-content {
  background-color: black;
  border: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
.close {
  color: rgb(100, 137, 167);
  border: none;
  text-shadow: none;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
/*game container*/
.container {
  padding-left: 5%;
  padding-right: 5%;
}

/*arrows*/

#upArrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}
#leftArrow {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
}

#rightArrow {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
}

.spare {
  display: none;
}

#leftRight {
  flex-wrap: nowrap;
}

/*game over swal*/
.swal-modal {
  background-color: rgba(82, 26, 145, 0.9);
  border: 3px solid white;
}

.swal-title {
  margin: 0px;
  font-size: 100px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-text {
  font-size: 40px;
  padding: 17px;
  margin: 22px;
  text-align: center;
}

/*footer links*/
.links {
    text-align: center;
    margin-bottom: 20px;

}

.homeIcon {
  display: inline-block;
  font-size: 1.5em;
 
}

.help  {
  display: inline-block;
  font-size: 1.5em;
  
}

.highScoreLink  {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 20%;
  margin-right: 20%;
  
}

.hard {
  display: inline-block;
  margin-top: 10px;
 
}

/* help page*/
.helpText {
  text-align: center;
  font-size: 1.1em;
  margin-top: 20px;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  border: 5px;
}

/*HighScore*/

.highScoreInput {
  display: inline-block;
  margin-top: 20px;
  font-size: 100%;
}

.submitButton {
  font-size: 100%;
  border: none;
  text-decoration: none;
}

.table {
  color: inherit;
  text-align: center;
}

.leagueTable {
  font-size: 120%;
}
